body{
  background-color: #191919;
  color: white;
  padding: 20px;
  font-family: sans-serif;
  font-size: 30px;
}

#root h2{
  display: block;
  text-align: center;
  border: 1px solid silver;
  padding: 10px;
  box-shadow: 0px 0px 5px white, 0px 0px 10px goldenrod;
  text-shadow: 0px 0px 1px white, 0px 0px 2px goldenrod;;
  
}

#root h3{
  display: block;
  text-align: center;
  font-size: 30px;
}

#root input{
  
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}

.card-grid{
  display: flex;
  flex-flow: wrap row;
}

#root div .imagenes{
  display: flex;
  flex-flow: row wrap;
  flex-basis: 250px;
  flex-grow: 1;

  width: 400px;
  height: 400px;
  background-color: #555;
  margin-top: 30px;
  margin-right: 20px;
  padding-top: 20px;
}

#root div .imagenes img{

  display: block;
  margin: 0px auto;
  width: 90%;
  height: 220px;
  
}

#root div .imagenes p{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
  font-size: 20px;
}
